{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
	<div class="col-xs-12">
		<h2>A propos</h2>
		<p>Bienvenue sur TodoApp, votre nouveau gestionnaire de t창ches !</p>
		{# <p>Vous pouvez <a href="{{ path('todo_list') }}">afficher la liste des t창ches</a> ou ajouter tout de suite une nouvelle t창che :</p> #}

		<h3>Nouvelle t창che</h3>


        {# https://twig.symfony.com/doc/3.x/tags/include.html #}
        {# {% include 'todo/_add_todo_form.html.twig' %} #}

	</div>
</div>

{% endblock %}